* {
  margin: 0;
  padding: 0;
}

.navx {
  background-color: #fff;
}

.navx .navbar-brand {
  font-family: Heebo ,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
}

.navx .nav-item {
  height: 36px;
  left: 629px;
  top: 51px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

section {
  padding-top: 150px;
}

.heading {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #333333;
}

.intro-text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #2D9CDB;
}

.hero-img {
  border-radius: 18px;
}

.hero-img img {
  position: absolute;
  width: 1332px;
  height: 354px;
  left: 52px;
  top: 420px;
}

.pxx {
  padding-left: 8rem !important;
  padding-bottom: 4rem;
}

.text {
  font-family: Poppins ,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  /* Gray 2 */
  color: #4F4F4F;
}

.textx {
  font-size: 14px;
}

.input-group-text {
  background-color: #2D9CDB;
  font-family: Poppins ,sans-serif;
  border-radius: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  /* Gray 6 */
  color: #F2F2F2;
}

input[type="email"] {
  font-family: Poppins ,sans-serif;
  border-radius: 12px;
  font-size: 18px;
  line-height: 27px;
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
}

.headingx {
  font-family: Poppins ,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  /* Gray 1 */
  color: #333333;
}

.services h4 {
  font-family: Poppins ,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  color: #333333;
}

.services p {
  font-family: Poppins ,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* Gray 2 */
  color: #4F4F4F;
}

.services:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.icon-pack {
  width: 67px;
  height: 67px;
  left: 200px;
  top: 1661px;
  background: #2D9CDB;
  border-radius: 16px;
}

.icon-green {
  background-color: #27AE60;
}

.icon-red {
  background-color: #EB5757;
}

.card {
  outline: none;
  border: none;
  margin-top: 20px;
}

.card h4 {
  font-family: Poppins ,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  color: #333333;
}

.card p {
  font-family: Poppins ,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* Gray 2 */
  color: #4F4F4F;
}

.card .btnx {
  width: 116px;
  height: 42px;
  left: 198px;
  top: 1949px;
  background: #E0E0E0;
  border-radius: 12px;
}

.card:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.card:hover .btnx {
  background-color: #2D9CDB;
  color: #fff;
}

.roundedx img {
  border-radius: 50px;
}
/*# sourceMappingURL=main.css.map */